h1 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

Container {
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

p {
  text-align: center;
}

img {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  /* float: left; */
}

.carousel {
  z-index: 9;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}
