ul {
  text-decoration: none;
  list-style-type: none;
}

li {
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 3px;
}

button .propButton {
  color: "black";
  background-color: "lightgray";
  border: "none";
  text-align: "left";
}

label {
  font-size: 11px;
  padding: 2px;
}

InputGroup {
  padding: 10px;
}

/* The sidebar menu */
.sidenav {
  /* Full-height: remove this if you want "auto" height */
  height: inherit;
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  background-color: lightgray; /* Black */
  padding-top: 20px;
  overflow: auto;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  color: #070707;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
