#home{

}

.inputGroup {
    text-align: center;
}

.dropdown {
    justify-content: center;
}

.btn_bar{
    justify-content: center;
    flex: 1;
    flex-direction: column;
}

#checkbox{
    background-color: white;
}
